---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Stats from '../components/Stats.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Comparison from '../components/Comparison.astro';
import Professionals from '../components/Professionals.astro';
import Signup from '../components/Signup.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Kith & Kin - Stay close to your people. Not the algorithm.">
  <main>
    <Hero />
    <Problem />
    <Stats />
    <HowItWorks />
    <Comparison />
    <Professionals />
    <Signup />
  </main>
  <Footer />
</Layout>
